.contact {
  margin-bottom: 3.438rem;
  width: 100%;
}

.contact-header {
  margin: 50px;
  font-size: 2rem;
  font-weight: 700;
}

.contact-list {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
}

.cont-link {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.contact-item {
  margin: 0 auto;
  font-size: 20px;
  color: #27242f;
}

.contact-info {
  margin: 0 auto;
}

@media all and (max-width: 600px) {
  .contact-list {
    width: 50%;
  }
}
