.about-me {
  width: 80%;
  height: 300px;
  margin: 100px auto 20px auto;
  border-radius: 0.5rem;
  background-color: #27242f;
}

.about__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0px 0px;
  font-size: 1rem;
  background-color: rgb(140, 140, 140);
}

i.Terminal_red__-LLSJ {
  color: #ff6057;
  padding-left: 0.5rem;
}

i.Terminal_amber__NRd3E {
  color: #ffbd2e;
  padding-left: 0.5rem;
}

i.Terminal_green__deSLX {
  color: #27c93f;
  padding-left: 0.5rem;
}

.tab-heading {
  color: rgb(0, 255, 164);
  font-size: 1.2rem;
}

p {
  color: #f8f8f8;
  padding: 10px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
